
.bg-1 {
    background-color: #1abc9c; 
    color: #ffffff;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-2 {
    background-color: #ffff99; 
    color: #555555;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg {
    padding-top: 70px;
    padding-bottom: 70px;
}
.img-circle {
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
.new-img {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

